<% #Owner: Charles Kluznik %>
<% #Date: 11/29/2022 %>
<% content_for :head do %>
  <%= stylesheet_link_tag "teams", "data-turbo-track": "reload" %>
<% end %>
<h1><%= @team.name %></h1>

<div class="rem_border">
<%= render @team, render_show: false %>
</div>

<div>
  <%= link_to "Destroy this team", @team, method: :delete, id: "del_team_link", class: "action_link", data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this team?'} %>
  <br>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>
</div>
