<!-- Owner: David Paquin !-->
<!-- Date: 11/29/2022 !-->

<%= stylesheet_link_tag 'profile', media: "all" %>
<p style="color: green"><%= notice %></p>

<%= render @admin %>
  First name: <%= @admin[:first_name] %><br>
  Last name: <%= @admin[:last_name] %><br>
  OSU name.#: <%= @admin[:namedotnumber] %><br>
  <br>
<div>
  <%= link_to "Edit profile information", edit_admin_path(@admin) %><br> 
  <%= button_to "Delete Account", @admin, method: :delete %>
</div>
