<!--Author: Ross Imbrock-->
<!--Created on: 12/03/22-->
<div id="<%= dom_id tech_task_evaluation %>">
  <p>
    <strong>Team ID:</strong>
    <%= tech_task_evaluation.teamid %>
  </p>

  <p>
    <strong>Overall Manager Rating:</strong>
    <%= tech_task_evaluation.overall %>
  </p>

  <p>
    <strong>Research Contributions:</strong>
    <%= tech_task_evaluation.research %>
  </p>

  <p>
    <strong>Presentation Ratings:</strong>
    <%= tech_task_evaluation.presentation %>
  </p>

  <p>
    <strong>Best qualities of teammates:</strong>
    <%= tech_task_evaluation.best_qualities %>
  </p>

  <p>
    <strong>Teammates need to improve on:</strong>
    <%= tech_task_evaluation.improve_on %>
  </p>

  <p>
    <strong>Notes to professor:</strong>
    <%= tech_task_evaluation.professor %>
  </p>

  <p>
    <strong>Other comments:</strong>
    <%= tech_task_evaluation.other %>
  </p>

</div>
