<!--Author: Ross Imbrock-->
<!--Created on: 11/29/22-->

<div id="<%= dom_id project_evaluation %>">
  <p>
    <strong>Team ID:</strong>
    <%= project_evaluation.teamid %>
  </p>

  <p>
    <strong>Overall Manager Rating:</strong>
    <%= project_evaluation.overall %>
  </p>

  <p>
    <strong>Implementation Manager Rating:</strong>
    <%= project_evaluation.implementation %>
  </p>

  <p>
    <strong>Documentation Manager Rating:</strong>
    <%= project_evaluation.documentation %>
  </p>

  <p>
    <strong>Testing Manager Rating:</strong>
    <%= project_evaluation.testing %>
  </p>

  <p>
    <strong>Meeting Manager Rating:</strong>
    <%= project_evaluation.meeting %>
  </p>

  <p>
    <strong>Best qualities of teammates:</strong>
    <%= project_evaluation.best_qualities %>
  </p>

  <p>
    <strong>Teammates need to improve on:</strong>
    <%= project_evaluation.improve_on %>
  </p>

  <p>
    <strong>Notes to professor:</strong>
    <%= project_evaluation.professor %>
  </p>

  <p>
    <strong>Other comments:</strong>
    <%= project_evaluation.other %>
  </p>

</div>
