<% #Edited by: Charles Kluznik %>
<% #Added support for custom stylesheets %>
<% #Date: 12/04/2022 %>
<!DOCTYPE html>
<html>
  <head>
    <title>Project6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head%>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
